# Project exclude paths
/out/
/target/classes/logic/Appointment.class
/target/classes/db/AppointmentsDAO.class
/target/classes/logic/Contact.class
/target/classes/db/ContactsDAO.class
/target/classes/db/CountriesDAO.class
/target/classes/logic/Country.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/classes/logic/Customer.class
/target/classes/db/CustomersDAO.class
/target/classes/db/util/DataAccessObject.class
/target/classes/logic/DataCache.class
/target/classes/db/util/DataTransferObject.class
/target/classes/db/DBConnection.class
/target/classes/logic/Division.class
/target/classes/db/DivisionsDAO.class
/target/classes/helpers/HelperFunctions.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/classes/logic/ItemType.class
/target/classes/language_files/login_en.properties
/target/classes/language_files/login_fr.properties
/target/classes/fxml/LoginPage.fxml
/target/classes/controllers/LoginPageController.class
/target/classes/app/Main.class
/target/classes/fxml/MainMenu.fxml
/target/classes/controllers/MainMenuController.class
/target/classes/fxml/ManageAppointments.fxml
/target/classes/controllers/ManageAppointmentsController.class
/target/classes/fxml/ManageCustomers.fxml
/target/classes/controllers/ManageCustomersController.class
/target/classes/fxml/ModifyAppointment.fxml
/target/classes/controllers/ModifyAppointmentController.class
/target/classes/fxml/ModifyCustomer.fxml
/target/classes/controllers/ModifyCustomerController.class
/target/classes/logic/ModifyType.class
/target/classes/fxml/Reports.fxml
/target/classes/controllers/ReportsController.class
/target/classes/controllers/SceneController.class
/target/classes/logic/SessionInformation.class
/target/classes/helpers/TimeListCellFactory.class
/target/classes/helpers/TimeSpinnerValueFactory.class
/target/classes/helpers/TimeTableCellFactory.class
/target/classes/logic/User.class
/target/classes/db/UsersDAO.class
